#wrapper {
    height: 100vh;
    background-color: gray;
    padding: 0;
}

body {
    background-color: black;
}

#banner {
    height: 7%;
    padding: 0;
    float: left;
    z-index: 99;
}

#logo {
    width: 200px;
    background-image: url("technope.png");
    background-size: 120% 100%;
    background-repeat: no-repeat;
}

#invisible {
    visibility: hidden;
}

#map {
    height: 93%;
    padding: 0;
    width: 100%;

}

#register {
    padding: 20px;
}

input[type=text] {
    width: 400px;
}

input[type=email] {
    width: 400px;
}

input[type=password] {
    width: 400px;
}


#website {
    align-self: center;
}

.navbar-default {
    /*background-color: #465c8a;*/
}

.navbar-header {

    position: fixed;
    z-index: 1;
}

.fa-2x {
    font-size: 10em;
    color: white;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    background-color: #465c8a;
}

.main-menu:hover, nav.main-menu.expanded {
    width: 200px;
    overflow: visible;
}

.main-menu {

    background-color: #465c8a;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 7%;
    bottom: 0;
    height: 93%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 0;
}

.main-menu > ul {
    margin: 7px 0;

}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li > a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: white;
    font-family: arial;
    font-size: 24px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    z-index: auto;

}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 140px;
    font-family: 'Impact', sans-serif;
}

.main-menu > ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover, a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul, nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}
.main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #5fa2db;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

#profile {
    position: absolute;
    z-index: 99;
    top: 9%;
    width: 100%;
    height: 100%;

}

.row {
    height: 80%;
}

#profile_pic {
    background-color: black;
    height: 200px;

}

#profile_content {
    background-color: blue;
    height: 100%;
}

#profile_content_panels > div {
    height: 100%;
    border-style: solid;
}

#profile_pic {
    height: 40%;
}

#message_container {
    position: absolute;
    top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 99;
    background-color: #465c8a;
}

#comment {
    width: 100%;
    height: 100px;
}


.Post {

}

/*may be able to do something cool with this, don't know*/
input:required:invalid, input:focus:invalid {

}

.techgradientcolor{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#34383a+0,000000+99,000000+100,000000+100,000000+100,000000+101 */
background: rgb(52,56,58); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(52,56,58,1) 0%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 101%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(52,56,58,1) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 101%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(52,56,58,1) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34383a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.orangegradientcolor{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8e15+0,de6400+100 */
background: rgb(255,142,21); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,142,21,1) 0%, rgba(222,100,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,142,21,1) 0%,rgba(222,100,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,142,21,1) 0%,rgba(222,100,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e15', endColorstr='#de6400',GradientType=0 ); /* IE6-9 */

}

.purplegradientcolor{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8989ba+0,8989ba+100;Purple+3D */
background: rgb(137,137,186); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(137,137,186,1) 0%, rgba(137,137,186,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(137,137,186,1) 0%,rgba(137,137,186,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(137,137,186,1) 0%,rgba(137,137,186,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


.blackgradientcolor{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#34383a+0,000000+99,000000+100,000000+100,000000+100,000000+101;Black+3D+%231 */
background: rgb(52,56,58); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(52,56,58,1) 0%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 101%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(52,56,58,1) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 101%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(52,56,58,1) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34383a', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.textwhite{
    color:white;
}

.fullwidth{
    width:100%;
}

.impact{
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", white, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    color:white;
}

.helvetica{
  font-family: Helvetica, Neue,white, "Helvetica","Arial","sans-serif";
  font-size: 15px;
  color:white;
  font-style: normal;
    font-variant: normal;
    font-weight: 20;
      line-height: 26.4px;
} 

.bottomgoldoutline{
    border-bottom: 1px;
    border-bottom-color: #D7B740;
    border-bottom-style: solid;
}

.rightgoldoutline{
    border-right: 1px;
    border-right-color: #D7B740;
    border-right-style: solid;

}

.topgoldoutline{
    border-top: 1px;
    border-top-color: #D7B740;
    border-top-style: solid;

}

.textunderline{
    text-decoration: underline; 
}


.goldletters{
    color: rgba(255, 228, 48, 0.85);
}

.goldletters:hover {
    color: gold;
}

.removeborders{
    border-style: none;

}

.removeleftrightmargins{
    margin-right:0px;
    margin-left:0px;
}

.removetoppadding{
    padding-top:0px;
}

.removetopborder{
    border-top:none;
}

.rightmargin{
    margin-right:5px;
}
.largerightmargin{
    margin-right:15px;
}

.rightmarginpercentage{
    margin-right:21%;
}

.largeleftmargin{
    margin-left:15px;
}

.largestleftpercentage{
    margin-left:25%;
}
.topmargin{
    margin-top:10px;
}

.removetopmargin{
    margin-top:0px;
}

.removeleftrightborders{
    border-left:none;
    border-right:none;
}

.removeleftborders{
     border-left:none;
}
.removeborderradius{
    border-radius:0px;
}
.toppadding{
    padding-top:30px;
}

.borderradius{
    borderradius:5px;
}

.backgroundblack{
    background-color:black;
}

.purple{
    color:purple;
}


.height{
    height:65px;
}


input:required:valid {

}

/*Login and register help text settings*/

.ErrorInvisible {
    visibility: hidden;
    text-decoration-color: #CC0000;
}

.posttitle {
    color: #f88819;
}



.alert {
    visibility: visible;
    color: #CC0000;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint div {
    background:none !important;
}

/*InfoWindows*/
.gm-style-iw {
    width: 250px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgb(137,137,186);
    border-radius: 2px 2px 10px 10px;
}
#iw-container {
    margin-bottom: 10px;
    width:100%;
}
#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    width:100%;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: rgb(137,137,186);
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
.whitebackground{
    background-color:white;
}
#iw-container .iw-content {
    width:100%;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-content img {
    float: right;
    margin: 0 5px 5px 10px;
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}
.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}


.contextmenu{
    visibility:hidden;
    border:1px solid #8888FF;
    z-index: 10;  
    position: relative;
    width: 170px;
    background: rgb(52,56,58); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(52,56,58,1) 0%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 101%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(52,56,58,1) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 101%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(52,56,58,1) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: pro

}

.contextmenu div{
    padding-left: 5px
}

.context{
 
}


